
/* **************************HEADER**********************************/
header{
display: flex;
justify-content: space-between;
padding: 5px 15px;
height: auto;
min-height: 60px;
z-index: 1000;
}

header nav ul{
list-style: none;
display: flex ;
justify-content: center;
gap: 40px

}
header nav ul li a:hover{
    background-color: rgb(67, 31, 198);
    color: white;
}
.color-enlace{
    background-color: white;
    color: rgba(48, 7, 180, 0.353) ;
}


/********************MAIN**************************************** */


/* -----------CARD---------------------- */

.container{
display: flex;
gap: 30px;
}

.remeras-con-precio img{
width: 150px;
}

/*-----------MAPS------------------------ */

.maps{
display: flex;
justify-content: center;
}

/* ---------ENVIOS------------------- */

.envios{
    background-color: rgb(242, 239, 244);
text-align: center;
margin: 30px;
padding: 40px;

}

main h2{
text-align: center;
color:  rgb(18, 4, 71);
}

/* **********PRODUCTOS*************************************** */
.container-productos{
    background-color: rgb(242, 239, 244);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    text-align: center;
    
}
.productos{
    background-color: rgb(178, 178, 186);
    border-radius: 10px;
    margin-bottom: 30px;

}
.productos img{
    max-width: 190px;
    
}

/* ***********CONTACTOS************************* */
.container_form{
display: grid;
grid-template-columns: 200px;
place-content: center;
}
.contactos{
margin: 20px;
}
.container-form{
    background-color:  rgb(178, 178, 186);
    display: grid;
    place-content: center;
    margin: 80px;
    padding: 80px;
    margin-bottom: 50px;
}
.container-6{
    background-color: rgb(178, 178, 186);
    margin: 80px;
    padding: 40px;
    
}

/* *********FOOTER************************************************************ */

footer{
display: flex;
justify-content: center;
height: 30vh;
}
footer h3{
color: rgb(5, 5, 97);
text-align: center;
}
header, footer{
background-color: aliceblue;
}
footer div a{
padding: 10px;
}
footer div a:hover{
    background-color: rgb(118, 88, 225);
}
::selection{
    background-color: rgb(18, 4, 71) ;
    color: aliceblue;
}



@media(max-width:500px){
    header{
        position: relative;
        justify-content: start;
        flex-direction: column;
    }
    header img{
        width: 50px;
    }
    header nav ul{
        display: flex ;
        gap: 0px;
    }
    
    .container{
    display: flex;
    flex-direction: column;
    gap: 30px;

    }

    .remeras-con-precio{
        text-align: center;
    }

    .remeras-con-precio img{
        width: 90px;
    }

.maps{
display: flex;
justify-content: center;

}
.container-productos{
    background-color: rgb(242, 239, 244);
    display: flex;
    flex-direction: column;
    text-align: center;
    
}
.productos{
    background-color: rgb(178, 178, 186);
    border-radius: 10px;
    margin-bottom: 40px;

}
.productos img{
    max-width: 100px;
    
}



    footer{
        height: 20vh;
    }
    footer div a{
        padding: 10px;
    }

}

