* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  color: rgb(8, 8, 162);
  text-align: center;
}

h3 {
  color: rgb(8, 8, 162);
  text-align: center;
}

p {
  color: rgb(8, 8, 162);
  text-align: center;
  margin-top: 40px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  gap: 70px;
}

.remeras-con-precio {
  padding: 20px;
  border-radius: 20px;
}
.remeras-con-precio .img {
  width: 100px;
}
.remeras-con-precio p {
  margin: 0;
}

.container-productos {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  text-align: center;
}
.container-productos .productos {
  margin: 30px;
  border-radius: 10px;
  margin-bottom: 40px;
}
.container-productos .productos img {
  max-width: 190px;
}
.container-productos .productos p {
  margin: 0;
}

.container_form {
  display: grid;
  grid-template-columns: 200px;
  place-content: center;
}
.container_form .contactos {
  margin: 20px;
}
.container_form .mi-boton-personalizado {
  margin: 10px;
  background-color: rgb(8, 8, 162);
  color: rgb(227, 224, 254);
}

header {
  display: flex;
  justify-content: space-between;
  padding: 5px 15px;
  height: auto;
  min-height: 60px;
  z-index: 1000;
}
header nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 50px;
}
header nav ul li a:hover {
  background-color: rgb(227, 224, 254);
}
header .search {
  border-radius: 5px;
  border-color: rgb(5, 5, 97);
  padding: 5px 10px;
}
header .search-button {
  border: none;
  border-radius: 5px;
  border-color: rgb(5, 5, 97);
  padding: 5px 10px;
}
header .search-button:hover {
  color: rgb(227, 224, 254);
  background-color: rgb(8, 8, 162);
}
header::selection {
  background-color: rgb(5, 5, 97);
  color: aliceblue;
}

main .maps {
  display: flex;
  justify-content: center;
  padding: 60px;
  margin-top: 40px;
  margin-bottom: 30px;
}
main .envios {
  text-align: center;
  margin: 30px;
  padding: 40px;
}
main .container-6 {
  margin: 60px;
  padding: 40px;
}
main .container-6 .mi-boton-personalizado {
  margin: 20px;
  background-color: rgb(8, 8, 162);
  color: rgb(227, 224, 254);
}
main .container-form {
  display: grid;
  place-content: center;
  padding: 70px;
  margin-bottom: 40px;
}
main .container-form .mi-boton-personalizado {
  margin: 10px;
  background-color: rgb(8, 8, 162);
  color: rgb(227, 224, 254);
}
main::selection {
  background-color: rgb(5, 5, 97);
  color: aliceblue;
}

footer {
  display: flex;
  justify-content: center;
  height: 10vh;
}
footer .logos {
  padding: 10px;
}
footer::selection {
  background-color: rgb(5, 5, 97);
  color: aliceblue;
}

@media (max-width: 500px) {
  header {
    position: relative;
    justify-content: start;
    flex-direction: column;
  }
  header img {
    width: 50px;
  }
  header nav ul {
    display: flex;
    gap: 0px;
  }
  header::selection {
    background-color: rgb(5, 5, 97);
    color: aliceblue;
  }
  main h2 {
    text-align: center;
    color: rgb(18, 4, 71);
  }
  main .container {
    display: flex;
    flex-direction: column;
    margin: 0;
    gap: 0px;
  }
  main .container .remeras-con-precio {
    text-align: center;
  }
  main .container .remeras-con-precio img {
    max-width: 140px;
  }
  main .maps {
    display: flex;
    justify-content: center;
  }
  main .container-productos {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  main .container-productos .productos {
    border-radius: 10px;
    margin-bottom: 40px;
  }
  main .container-productos .productos img {
    width: 170px;
  }
  main .container_form {
    display: grid;
    grid-template-columns: 1fr;
  }
  main .envios {
    text-align: center;
    margin: 2px;
    padding: 4px;
  }
  main .container-6 {
    margin: 10px;
    padding: 20px;
  }
  main .container-form {
    display: grid;
    gap: 20px;
    margin: 9px;
    padding: 20px;
    margin-bottom: 70px;
  }
  main::selection {
    background-color: rgb(5, 5, 97);
    color: aliceblue;
  }
  footer {
    height: 30vh;
  }
  footer .logos {
    margin-top: 30px;
  }
  footer img {
    width: 80px;
  }
  footer::selection {
    background-color: rgb(5, 5, 97);
    color: aliceblue;
  }
}

/*# sourceMappingURL=style.css..map */
