* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mi-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  gap: 70px;
}

.mi-card {
  padding: 20px;
  border-radius: 20px;
  transition: transform 0.5s ease;
}
.mi-card:hover {
  transform: translateY(-5px);
  box-shadow: 1px;
}
.mi-card .img {
  width: 120px;
}

.boton-comprar {
  color: rgb(245, 243, 243);
  background-color: rgb(76, 78, 85);
  padding: 5px;
  text-decoration: none;
  border-radius: 5px;
}

.container-productos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  text-align: center;
}
.container-productos .producto {
  margin: 20px;
  border-radius: 10px;
  gap: 30px;
}
.container-productos .producto .mi-card-text {
  margin-bottom: 5px;
}

.container_form {
  display: grid;
  grid-template-columns: 200px;
  place-content: center;
}
.container_form .contactos {
  margin: 20px;
}
.container_form .mi-boton-personalizado {
  margin: 10px;
  background-color: rgb(0, 0, 0);
  color: rgb(227, 224, 254);
}

header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(5, 5, 5);
  padding: 5px 15px;
  height: auto;
  min-height: 60px;
  z-index: 1000;
}
header .mi-nav {
  color: rgb(233, 233, 226);
  margin-right: 5px;
  text-decoration: none;
}
header ul {
  display: flex;
  justify-content: center;
  gap: 50px;
}
header .search-form-mio {
  margin-left: 100px;
}
header .search {
  border-radius: 5px;
  border-color: rgba(16, 16, 138, 0.514);
  padding: 5px 10px;
  text-align: center;
}
header .search-button {
  border: none;
  border-radius: 5px;
  border-color: rgba(16, 16, 138, 0.514);
  padding: 5px 10px;
}

main h2 {
  color: rgba(0, 0, 0, 0.582);
  text-align: center;
  margin-top: 10px;
}
main h3 {
  color: rgb(233, 233, 226);
  text-align: center;
}
main p {
  color: rgb(0, 0, 0);
  text-align: center;
  margin-top: 30px;
  margin-bottom: 5px;
  margin: 0px;
}
main .envios {
  text-align: center;
  margin: 30px;
  padding: 40px;
}
main .container-6 {
  margin: 60px;
  padding: 40px;
}
main .container-6 .mi-boton-personalizado {
  margin: 20px;
  background-color: rgb(0, 0, 0);
  color: rgb(227, 224, 254);
}
main .container-form {
  display: grid;
  place-content: center;
  padding: 70px;
  margin-bottom: 40px;
}
main .container-form .mi-boton-personalizado {
  margin: 10px;
  background-color: rgb(0, 0, 0);
  color: rgb(227, 224, 254);
}

footer {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(5, 5, 5);
  color: rgb(233, 233, 226);
  text-align: center;
  height: 50vh;
}
footer .logos {
  margin-top: 20px;
}
footer .logos .mi-logo {
  color: rgb(233, 233, 226);
  margin: 10px;
  gap: 20px;
  text-decoration: none;
  border: none;
}
footer .ubicacion {
  margin-top: 20px;
}
footer .ubicacion .maps {
  display: flex;
  justify-content: center;
  padding: 60px;
  margin-top: 40px;
  margin-bottom: 30px;
}

@media (max-width: 500px) {
  header {
    position: relative;
    justify-content: start;
    flex-direction: column;
  }
  header img {
    width: 50px;
  }
  header nav ul {
    display: flex;
    gap: 0px;
  }
  header .search-form-mio {
    margin: 0;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }
  main .mi-container {
    display: flex;
    flex-direction: column;
    margin: 0;
    gap: 0px;
  }
  main .mi-container .mi-card {
    text-align: center;
  }
  main .mi-container .mi-card img {
    width: 50%;
    height: auto;
  }
  main .mi-container .mi-card:hover {
    transform: none;
    box-shadow: none;
  }
  main .container-productos {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  main .container-productos .producto {
    border-radius: 10px;
    margin-bottom: 10px;
  }
  main .container-productos .producto img {
    width: 50%;
    height: auto;
  }
  main .container_form {
    display: grid;
    grid-template-columns: 1fr;
  }
  main .envios {
    text-align: center;
    margin: 2px;
    padding: 4px;
  }
  main .container-6 {
    margin: 10px;
    padding: 20px;
  }
  main .container-form {
    display: grid;
    gap: 20px;
    margin: 9px;
    padding: 20px;
    margin-bottom: 70px;
  }
  footer {
    display: flex;
    flex-direction: column;
    height: 70vh;
    gap: 5px;
  }
  footer .logos {
    margin-top: 5px;
  }
  footer .logos .mi-logo {
    margin: 10px;
    text-decoration: none;
    border: none;
  }
  footer .ubicacion {
    margin-top: 10px;
  }
  footer .ubicacion .mapa {
    width: 150px;
  }
}

/*# sourceMappingURL=style.css.map */
