@use "../utilities/variables" as *;
@use "../utilities/mixin" as *;


header{
    @include flex-base(space-between, null);
    background-color: $bg-header;
    padding: 5px 15px;
    height: auto;
    min-height: 60px;
    z-index: 1000;
    
    .mi-nav{
        color: $color-header ;
        margin-right: 5px;
        text-decoration: none ;
    }
    
    ul{
        @include flex-base(center, null);
        gap: 50px;
    }
    
    .search-form-mio{
        margin-left: 100px;

    }
    .search{
        border-radius: 5px;
        border-color: $bg-selection;
        padding: 5px 10px;
        text-align: center;
        

    }
    .search-button{
        border: none;
        border-radius: 5px;
        border-color:  $bg-selection;                   
        padding: 5px 10px;
    }
}
