@use "../utilities/variables" as *;
@use "../utilities/mixin" as *;


header{
@include flex-base(space-between, null);
padding: 5px 15px;
height: auto;
min-height: 60px;
z-index: 1000;
   
    nav{
        ul{
            @include flex-base(center, null);
            list-style: none;
            gap: 50px;
            li{
                a{
                  &:hover{
                    background-color: $bg-enlaces;
                  } 
                }
            }
        }
    }
    .search{
        border-radius: 5px;
        border-color: $bg-selection;
        padding: 5px 10px;

    }
    .search-button{
        border: none;
        border-radius: 5px;
        border-color:  $bg-selection;                   
        padding: 5px 10px;
        &:hover{
            color: $bg-enlaces;
            background-color: $color-text;
        }
    }
    &::selection{
        background-color: $bg-selection;
        color: $color-selection;
    }
}
