@use "../utilities/variables" as *;
@use "../utilities/mixin" as *;

main{
    
    h2{
        color: $color-title; 
        text-align: center;
        margin-top: 10px;
    }

    h3{
        color: $color-header;
        text-align: center;
    }
    p{
        color: $color-text;
        text-align: center;  
        margin-top: 30px;
        margin-bottom: 5px;
        margin: 0px ;
    }

   
    
    .envios{
        text-align: center;
        margin: 30px;
        padding: 40px;
    }
    .container-6{
        margin: 60px;
        padding: 40px;
        .mi-boton-personalizado{
            margin: 20px;
            background-color: $color-subtitle;
            color: $bg-enlaces;
        }
    }
    .container-form{
        display: grid;
        place-content: center;
        padding: 70px;
        margin-bottom: 40px;
        .mi-boton-personalizado{
            margin: 10px;
            background-color: $color-subtitle;
            color: $bg-enlaces;
        }
    }
}
