
$color-header: rgb(233, 233, 226);
$bg-header: rgb(5, 5, 5);


$bg-enlaces: rgb(227, 224, 254);
$color-title: rgba(0, 0, 0, 0.582);
$color-subtitle: rgb(0, 0, 0);
$color-text:rgb(0, 0, 0);
$bg-selection:rgba(16, 16, 138, 0.514);

$color-footer:rgb(233, 233, 226);
$bg-footer:rgb(5, 5, 5);



    