
@use "../utilities/mixin" as *;


.mi-container{
    @include flex-base(center, center);
    text-align: center;
    margin: 0;
    gap: 70px;
        
}

.mi-card{
    padding: 20px;
    border-radius: 20px;
    transition: transform 0.5s ease;

    &:hover{
    transform: translateY(-5px);
    box-shadow: 1px;
    }
    
    .img{
        width: 120px;
    }
        
    
}
.boton-comprar{
    color: rgb(245, 243, 243);
    background-color: rgb(76, 78, 85);
    padding: 5px;
    text-decoration: none;
    border-radius: 5px;
   
  
}
    
.container-productos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    text-align: center;


    .producto{
        margin: 20px;
        border-radius:10px;
        gap: 30px;
        .mi-card-text{
            margin-bottom: 5px;
        }
      
    }

}